<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OpenSSL OS X.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>OpenSSL iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A0115861B910F04001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A01158B1B910F0A001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0115961B910FCF001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0115A71B917EE8001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0115AB1B917EF1001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0116241B921B87001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0116301B921BFF001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0116421B93AB0A001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0116611B93AE94001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0116BB1B93B069001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A0116C51B93B08F001E4035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A11D4111B8D6F0900F9A353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A11D4C91B8D7EDE00F9A353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A11D5291B8D847800F9A353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A11D5321B8D84B900F9A353</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A170D5B1B8EA78000720F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A170D601B8EA78500720F1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A7520411B8DE62D005A67E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE1C6F81B8EA1290069197F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9069D28B0FCE659A0042E34C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
